body {
    font-family: monospace;
    background-color: black;
    color: white;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
